# Describe
snippet des
  describe('${1}', function(){
    ${2}
  });
# It
snippet it
  it('${1}', function(${2}){
    ${3}
  });
# Before
snippet bef
  before(function(${1}){
    ${2}
  });
# After
snippet aft
  after(function(${1}){
    ${2}
  });
# BeforeEach
snippet befe
  beforeEach(function(${1}){
    ${2}
  });
# AfterEach
snippet afte
  afterEach(function(${1}){
    ${2}
  });
